/* ContactList.css */

/* 선택된 필터 스타일 */
.nav-link.active {
    background-color: #007bff; /* Bootstrap의 primary color */
    color: #fff;
  }
  
  /* 필터 버튼 기본 스타일 */
  .nav-link {
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  /* 호버 스타일 */
  .nav-link:hover {
    background-color: #f8f9fa;
  }
  